extends layout
block content 

    h3 Enter New User Information 
    h4 If you have a login, please go to login page! 

    form(method="POST")
        |Name: 
        |
        input(name="userName")
        br
        |Password: 
        input(name="pass")
        br
        br
        input(type="submit" value="Login")
    if msg 
        h3 #{msg}
    br
    br
    br

block append footer
    a(href='/') Home 
    |
    |
    a(href='/login') Existing User Login
    |
    |
    a(href='/wordSubmit') Word Submission 
    |
    |
    a(href='/hintSubmit') Hint Submission
    |
    |
    a(href='/leaderboard') Leaderboard