extends layout 

block content 
    body
        h2 Feel Free to Submit a Hint For an Existing Word

        form(method="PUT")
            p 
                |Word: 
                input(name="word" value='')
                br
                |Hint for Existing Word: 
                input(name="hint" value='')
                br
                input(type="submit" value="Send!")
                input(type="reset" value="Clear!")

block append footer 
    a(href='/') Home 
    |
    |
    a(href='/wordSubmit') Word Submission 
    |
    |
    a(href='/hintSubmit') Hint Submission
    |
    |
    a(href='/leaderboard') Leaderboard