doctype html
html(lang="en")
    head 
        title="The Hangman Webserver"
    body 
        h1 Welcome To A Little Game of Hangman!

        block content 
    
    a(href='/') Home 
    |
    |
    a(href='/wordSubmit') Word Submission 
    |
    |
    a(href='/hintSubmit') Hint Submission
    |
    |
    a(href='/leaderboard') Leaderboard