extends layout 
block content 
    body
        h2 Check the Leaderboards!

        h3 Sort by:
        form(method="post")
            select(name="prop")
                option(value="win_counter") Mightiest Winners
                option(value="loss_counter")  Biggest Losers
                option(value="best_time")  Fastest Time
            br
            input(type="submit" value="Sort!")

            //finish leaderboard sort functions/queries
            
block append footer 
    a(href='/') Home 
    |
    |
    a(href='/wordSubmit') Word Submission 
    |
    |
    a(href='/hintSubmit') Hint Submission
    |
    |
    a(href='/leaderboard') Leaderboard